@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_WebsiteLayout";
    ViewBag.Title = "Programs";
}
<main>
    <div data-colibri-id="5-h25" id="hero" class="h-section h-hero d-flex align-items-lg-center align-items-md-center align-items-center style-25 style-local-5-h25 position-relative">
        <div class="background-wrapper" data-colibri-hide-pen="true">
            <div class="background-layer">
                <div class="background-layer"></div>
                <div class="overlay-layer"></div>
                <div class="shape-layer"></div>
            </div>
        </div>
        <div class="h-section-grid-container h-navigation-padding h-section-boxed-container" style="padding-top: 130px;">
            <div data-colibri-id="5-h26" class="h-row-container gutters-row-lg-2 gutters-row-md-2 gutters-row-0 gutters-row-v-lg-2 gutters-row-v-md-2 gutters-row-v-2 style-26 style-local-5-h26 position-relative">
                <div class="h-row justify-content-lg-center justify-content-md-center justify-content-center align-items-lg-stretch align-items-md-stretch align-items-stretch gutters-col-lg-2 gutters-col-md-2 gutters-col-0 gutters-col-v-lg-2 gutters-col-v-md-2 gutters-col-v-2">
                    <div class="h-column h-column-container d-flex h-col-lg-auto h-col-md-auto h-col-auto style-27-outer style-local-5-h27-outer">
                        <div data-colibri-id="5-h27" class="d-flex h-flex-basis h-column__inner h-px-lg-2 h-px-md-2 h-px-2 v-inner-lg-2 v-inner-md-2 v-inner-2 style-27 style-local-5-h27 position-relative">
                            <div class="w-100 h-y-container h-column__content h-column__v-align flex-basis-100 align-self-lg-center align-self-md-center align-self-center">
                                <div data-colibri-id="5-h28" class="h-global-transition-all h-heading style-28 style-local-5-h28 position-relative h-element">
                                    <div class="h-heading__outer style-28 style-local-5-h28">
                                        <!-- Big header -->
                                        <h1> Programs </h1>
                                    </div>
                                </div>
                                <div data-colibri-id="5-h29" class="h-lead h-text h-text-component style-29 style-local-5-h29 position-relative h-element">
                                    <div>
                                        <p> Created by SB Ordinance No. 9, s. 2023 as a locally-funded college of Laurel, Batangas. </p>
                                    </div>
                                </div>
                                <div data-colibri-id="5-h30" class="h-x-container style-30 style-local-5-h30 position-relative h-element">
                                    <div class="h-x-container-inner style-dynamic-5-h30-group style-30-spacing style-local-5-h30-spacing">
                                        <span class="h-button__outer style-31-outer style-local-5-h31-outer d-inline-flex h-element">
                                            <a h-use-smooth-scroll="true" href="#" data-colibri-id="5-h31" class="d-flex w-100 align-items-center h-button justify-content-lg-center justify-content-md-center justify-content-center style-31 style-local-5-h31 position-relative">
                                                <span> Enroll Now </span>
                                            </a>
                                        </span>
                                        <span class="h-button__outer style-316-outer style-local-5-h32-outer d-inline-flex h-element">
                                            <a h-use-smooth-scroll="true" href="/Home/About" data-colibri-id="5-h32" class="d-flex w-100 align-items-center h-button justify-content-lg-center justify-content-md-center justify-content-center style-316 style-local-5-h32 position-relative">
                                                <span> About </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-column h-column-container d-flex h-col-lg-auto h-col-md-auto h-col-auto style-343-outer style-local-5-h33-outer">
                        <div data-colibri-id="5-h33" class="d-flex h-flex-basis h-column__inner h-px-lg-2 h-px-md-2 h-px-2 v-inner-lg-2 v-inner-md-2 v-inner-2 style-343 style-local-5-h33 position-relative">
                            <div class="w-100 h-y-container h-column__content h-column__v-align flex-basis-100 align-self-lg-center align-self-md-center align-self-center">
                                <div data-colibri-id="5-h34" class="d-block style-344 style-local-5-h34 position-relative h-element">
                                    <div class="h-image__frame-container-outer">
                                        <div class="h-image__frame-container">
                                            <div class="h-image__frame h-hide-lg h-hide-md h-hide-sm style-344-frameImage style-local-5-h34-frameImage "></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content:start -->
    <div class="content  position-relative colibri-main-content-archive" id="content">
        <!-- Section:start -->
        <div class="d-flex h-section h-section-global-spacing position-relative main-section">
            <div class="h-section-grid-container h-section-boxed-container main-section-inner">
                <!-- Row:start -->
                <div class="h-row-container gutters-row-lg-1 main-row">
                    <div class="h-row gutters-col-lg-1 main-row-inner">
                        <!-- Column:start -->
                        <div class="h-col">
                            <div data-colibri-id="19-m1" class="style-102 style-local-19-m1 position-relative">
                                <div data-colibri-component="section" data-colibri-id="19-m2" id="blog-posts" class="h-section h-section-global-spacing d-flex align-items-lg-center align-items-md-center align-items-center style-103 style-local-19-m2 position-relative">
                                    <div class="h-section-grid-container h-section-boxed-container">
                                        <div style="padding-bottom:30px;" class="h-row-container gutters-row-lg-2 gutters-row-md-2 gutters-row-3 gutters-row-v-lg-2 gutters-row-v-md-2 gutters-row-v-2 colibri-dynamic-list style-108 style-local-19-m3 position-relative">
                                            <h3 class="colibri-word-wrap">
                                                <span class="fontyellow">Programs</span>
                                                <span class="fontgreen">We Offer</span>
                                            </h3>
                                            <div>
                                                <div class="inlineblock">
                                                    <img src="../Images/CDL_Logo.png"/>
                                                    <a class="h-button style-31 courseText" style="width:100%;">BS in Agribusiness</a>
                                                </div>
                                                <div class="inlineblock">
                                                    <img src="../Images/CDL_Logo.png" />
                                                    <br />
                                                    <a class="h-button style-31 courseText" style="width:100%;">BS in Criminology</a>
                                                </div>
                                                <div class="inlineblock">
                                                    <img src="../Images/CDL_Logo.png" />
                                                    <br />
                                                    <a class="h-button style-31 courseText" style="width:100%;">Bachelor of Early Childhood Education</a>
                                                </div>
                                            </div>
                                            @* <div class="h-x-container-inner style-dynamic-5-h30-group style-30-spacing style-local-5-h30-spacing">
                                                <span class="h-button__outer style-31-outer style-local-5-h31-outer d-inline-flex h-element">
                                                    <a class="h-button style-31" style="border-radius: 0;">Welcome to CDL</a>
                                                </span>
                                                <span class="h-button__outer style-31-outer style-local-5-h31-outer d-inline-flex h-element">
                                                    <a class="h-button style-31" style="border-radius: 0;">Important Policies</a>
                                                </span>
                                                <span class="h-button__outer style-31-outer style-local-5-h31-outer d-inline-flex h-element">
                                                    <a class="h-button style-31" style="border-radius: 0;">Downloadable Forms</a>
                                                </span>
                                            </div> *@
                                        </div>
                                        <!-- layout_wrapper_output:navigation_container-start -->
                                        <!-- layout_wrapper_output:navigation_container-end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Column:end -->
                    </div>
                </div>
                <!-- Row:end -->
            </div>
        </div>
        <!-- Section:end -->
    </div>
    <!-- Content:end -->
</main>
